h1, h4, h2{
	text-align: center;
	font-family: 'Indie Flower', cursive;}
img{ 
	width: 100%;
	height: auto;
}
body{
	background-color: white;
}
.flexBody {
	display: flex;
	flex-wrap: wrap;
}
#snap {
	width: 24vw;
	font-size: 20px;
	color: purple; 
}

#Face {
	width: 20vw;
	font-size: 20px;
	color: purple;
	
}
#insta {
	width: 19vw;
	font-size: 20px;
	color: purple;
	
}
#google {
	width: 30vw;
	font-size: 20px;
	color: purple;
}
#Linkin {
	width: 18vw;
	font-size: 20px;
	color: purple;
}
#Athan {
	width: 10vw;
	font-size: 20px;
	color: purple;
}
#Free {
	width: 10vw;
	font-size: 20px;
	color: purple;
}
#twieet {
	width: 20vw;
	font-size: 20px;
	color: purple;
}
#City {
	width:  10vw;
	font-size: 20px;
	color: purple;
}
#Expei {
	width: 25vw;
	font-size: 20px;
	color: purple;
}
#group {
	width: 18vw;
	font-size: 20px;
	color: purple;
}
#Train {
	width: 6vw;
	font-size: 20px;
	color: purple;
}
#ofeer {
	width:  13vw;
	font-size: 20px;
	color: purple;
}
#ticket {
	width: 17vw;
	font-size: 20px;
	color: purple;
}
#Rent {
	width:  3vw;
	font-size: 20px;
	color: purple;
}
#Food {
	width: 15vw;
	font-size: 20px;
	color: purple;
}
#windows {
	width:  25vw;
	font-size: 20px;
	color: purple;
}
#point {
	width: 19vw;
	font-size: 20px;
	color: purple;
}
#numbers {
	width: 10vw;
	font-size: 20px;
	color: purple;
}
#news {
	width: 7vw;
	font-size: 20px;
	color: purple;
}