h1, h4{
	text-align: center;
	font-family: 'Indie Flower', cursive;
}
img{ 
	width: 100%;
	height: auto;
}
.flexBody {
	display: flex;
	flex-wrap: wrap;
}
#snap {
	width: 24vw;
	
	
}
#Face {
	width: 20vw;
	
}
#insta {
	width: 19vw;
	
}
#google {
	width: 25vw;
}
#Linkin {
	width: 18vw;
}
#Athan {
	width: 2vw;
}
#Free {
	width: 10vw;
}
#twieet {
	width: 20vw;
}
#City {
	width:  5vw;
}
#Expei {
	width: 15vw;
}
#group {
	width: 18vw;
}
#Train {
	width: 6vw;
}
#ofeer {
	width:  5vw;
}
#ticket {
	width: 17vw;
}
#Rent {
	width:  3vw;
}
#Food {
	width: 15vw;
}
#windows {
	width:  25vw;
}
#point {
	width: vw;
}
#numbers {
	width: 10vw;
}
#news {
	width: 12vw;
}