*{
  margin: 0px; 
  padding: 0px;
}

body {
	background: yellow;
}

.box {
  height: auto;
  width: 75vw;
  display: block;
  margin: 0px auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  font-family: helvetica;
}

#snapchat {
  background: yellow;
}

#logo{
	width: 200px;
	height: auto;
	margin: 10px auto;
}
#intro{
	width: 50%;
	margin: auto;
}

h4,h2,h3,h5{
	font-family: helvetica;
	margin: 3%;
	text-align: left;
}

h1,p,{
	font-family: helvetica;
	margin: 3%;
	text-align: center;
}
#info{
	font-family: helvetica;
	margin: auto;
}
