*{
  margin: 0px; 
  padding: 0px;
}

body {
	background: yellow;
}

.box {
  height: auto;
  width: 75vw;
  display: block;
  margin: 0px auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

#snapchat {
  background: yellow;
}

#logo{
	width: 200px;
	height: auto;
	margin: 10px auto;
}
#intro{
	width: 50%;
	margin: auto;
}
