*{
  margin: 0px; 
  padding: 0px;
}
.box {
  height: auto;
  width: 100vw;
  display: block;
  margin: 0px auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.arrow {
  height: 15vh;
  width: auto;
}
#snapchat {
  background: yellow;
}

img{
  margin: 10px auto;
  transition: all 500ms ease; 
}

img:hover{
  transform: scale(1.2); 
}

p{ 
  text-align: center;
  font-weight: 40px;
   }
h1 {
  background: yellow;
  border: 2px solid black;
  width: 75%;
  display: block;
  margin: 0px auto;
  font-size: 21px;
}

#happyDevil {
  background: purple;
}

#videotape {
  background: gray;
}


#morning {
  background: white;
}



#fax {
  background: wheat;
}



#flashlight {
  background: darkgray;
}



#saddevil {
  background: purple;
}



