.box {
  border: 2px solid black;
  height: auto;
  width: 75vw;
  display: block;
  margin: 10px auto;
  text-align: center;
}
.arrow {
  height: 15vh;
  width: auto;
}
#snapchat {
  background: yellow;
}
p{ 
  text-align: center;
  font-weight: 40px;
   }
h1 {
  background: yellow;
  border: 2px solid black;
  width: 75%;
  display: block;
  margin: 10px auto;
}
.box {
  border: 2px solid black;
  height: auto;
  width: 75vw;
  display: block;
  margin: 10px auto;
  text-align: center;
}
.arrow {
  height: 15vh;
  width: auto;
}
#happyDevil {
  background: purple;
}
h1 {
  background: yellow;
  border: 2px solid black;
  width: 75%;
  display: block;
  margin: 10px auto;
}
.box {
  border: 2px solid black;
  height: auto;
  width: 75vw;
  display: block;
  margin: 10px auto;
  text-align: center;
}
.arrow {
  height: 15vh;
  width: auto;
}
#videotape {
  background: gray;
}
h1 {
  background: yellow;
  border: 2px solid black;
  width: 75%;
  display: block;
  margin: 10px auto;
}
.box {
  border: 2px solid black;
  height: auto;
  width: 75vw;
  display: block;
  margin: 10px auto;
  text-align: center;
}
.arrow {
  height: 15vh;
  width: auto;
}
#morning {
  background: white;
}
h1 {
  background: yellow;
  border: 2px solid black;
  width: 75%;
  display: block;
  margin: 10px auto;
}
.box {
  border: 2px solid black;
  height: auto;
  width: 75vw;
  display: block;
  margin: 10px auto;
  text-align: center;
}
.arrow {
  height: 15vh;
  width: auto;
}
#fax {
  background: wheat;
}
h1 {
  background: yellow;
  border: 2px solid black;
  width: 75%;
  display: block;
  margin: 10px auto;
}
.box {
  border: 2px solid black;
  height: auto;
  width: 75vw;
  display: block;
  margin: 10px auto;
  text-align: center;
}
.arrow {
  height: 15vh;
  width: auto;
}
#flashlight {
  background: darkgray;
}
h1 {
  background: yellow;
  border: 2px solid black;
  width: 75%;
  display: block;
  margin: 10px auto;
}
.box {
  border: 2px solid black;
  height: auto;
  width: 75vw;
  display: block;
  margin: 10px auto;
  text-align: center;
}
.arrow {
  height: 15vh;
  width: auto;
}
#saddevil {
  background: purple;
}
h1 {
  background: yellow;
  border: 2px solid black;
  width: 75%;
  display: block;
  margin: 10px auto;
}


